:root {
    --color-blue: #004E8D;
    --color-accent: #595959;
    --color-white: #fff;
    --color-pink: #F7C6D9;
    --color-black: #000;



    --color-transblue: rgba(0, 78, 141,.9);
    --color-shadow: rgba(0,0,0,.4);



    



    --color-test: rgb(99, 252, 99);
}