/* ==== CSS RESET ==================== */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    /* color-scheme: light dark; */
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Nunito', sans-serif;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

/* fonts -------------------------------------------------- */
/* font-family: 'Courgette', cursive; */
/* font-family: 'Nunito', sans-serif; */


.App {
    position: relative;
}
:is(h1, h2, h3) {
    color: var(--color-blue);
}
h1 {
    font-size: max(1.5rem, 1rem + 0.390625vw);
    font-weight: bold;
}

h2 {
    font-size: clamp(18px,18px + .5vw, 18px);
    font-weight: bold;
}
h3 {}
p {
    color: var(--color-accent);
}