.btn {
    position: relative;
    
    display: flex;
    justify-content: space-evenly;

    padding: 5px 8px;
    border: 2px solid var(--color-blue);
    border-radius: 15px;
    background-color: transparent;

    color: var(--color-blue);
    font-size: 1rem;
    
    transition: 250ms ease-in-out;
}
.btn:is(:hover,:focus) {
    background-color: var(--color-blue);
    color: var(--color-white);
}
.btn-Icon {
    margin-right: 8px;
}
.sendEmail-btn {
    align-self: flex-start;
}