.btn {
    display: grid;
    place-items: center;

    padding: 5px 8px;
    background-color: var(--color-blue);

    color: var(--color-white);
    font-size: 1rem;

    border: none;
    box-shadow: 0 0 3px 1px var(--color-shadow);
}
.sendEmail-btn {
    margin-top: 1em;
}