/* general home page styling -------------------------------------------------- */
#home-page-div {
    position: relative;
    padding-top: 50px;
}

/* Hero Image -------------------------------------------------- */
#hero-image-wrapper {
    display: flex;
    align-items: center;

    min-height: 250px;
    background-image: url(../imgs/FlowerBackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--color-pink);
}

#hero-image-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1em;

    width: 100%;
    min-height: 250px;
}

#hero-image-div h1 {}

/* About Section -------------------------------------------------- */
#about-div {
    padding: 2em 1em;

    text-align: center;
}

#about-div h2 {
    margin-bottom: 1em;
}

/* Services Section -------------------------------------------------- */
#services-section {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.service-card {
    margin-inline: auto;
    padding: 1em;
    width: 90vw;
    border: 2px solid var(--color-blue);
    border-radius: 15px;

    text-align: center;
}

.service-card:hover,
.service-card:hover :is(h3, p) {
    color: var(--color-white);
    background-color: var(--color-blue);
}

.service-card-header {}

.service-card-text {
    color: var(--color-accent);
}

/* Gallery Section -------------------------------------------------- */
#Gallery-section {}

#filter-input-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 0 1em;
    
    text-align: center;
}
#filter-input-div h1 {
    margin: 1em;
}

#categorySelector {
    padding: .8rem;
    width: 100%;
    background-color: var(--color-lightTransBlue);
    border: none;
    border-bottom: 2px solid var(--color-blue);

    font-size: 1.4rem;
    font-weight: bold;
    color: var(--color-blue);
    text-align: center;

    outline: none;
}

#filter-btns-div {
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: .75em;

    margin: 1em;
}
.filter-btn {
}

#gallery-content {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: var(--color-transAccent);
    border-top: 2px solid var(--color-transAccent);
    border-bottom: 2px solid var(--color-transAccent);
}
.gallery-card {
    margin: 1em 1em;
}