/* general home page styling -------------------------------------------------- */
#home-page-div {}
/* Hero Image -------------------------------------------------- */
#hero-image-wrapper {
    display: flex;
    align-items: center;
    
    min-height: 250px;
    background-image: url(../imgs/FlowerBackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#hero-image-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1em;

    width: 100%;
    min-height: 250px;
}

#hero-image-div h1 {
}
/* About Secton -------------------------------------------------- */
#about-div {
    padding: 2em 1em;
    
    text-align: center;
}

#about-div h2 {
    margin-bottom: 1em;
}