/* Hero Image -------------------------------------------------- */
#hero-image-div {
    /* display: flex;
    flex-direction: column; */
    
    padding: 1em;
    
    height: 200px;
    background-image: url(../imgs/FlowerBackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

