.lightBox-outer {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .3);

    z-index: 999;
}

.lightBox-inner {
    position: relative;

    display: flex;
    flex-direction: column;

    padding: 2rem 3rem;
    width: clamp(350px, 80%, 600px);
    background-color: #fff;
    border-radius: 5px;

    box-shadow: 0 0 2px 4px rgba(0, 0, 0, .2);
}

.lightBox-inner form {
    display: flex;
    flex-direction: column;

}

.lightBox-inner h1 {
    text-align: center;
}

.lightBox-close-btn {
    position: absolute;
    top: 0;
    right: 0;

    margin-top: 7px;
    margin-right: 7px;

    border: 3px solid var(--color-blue);
    border-radius: 50px;

    font-size: 2rem;
    color: var(--color-blue)
}

.lightBox-input-label {
    margin-top: 1em;
    margin-bottom: .5em;

    color: var(--color-blue);
    font-size: 1.5rem;
    font-weight: bold;
}

.lightBox-input {
    padding: 5px 8px;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid var(--color-blue);
    background-color: var(--color-lightTransBlue);

    outline: none;

    transition: 300ms ease-in-out;
}

.lightBox-input:is(:active, :focus) {
    box-shadow: 0 1px 1px 1px var(--color-transblue);

    transform: translateY(-5px);
}

.lightBox-submit-btn {
    align-self: center;
    
    margin-top: 1em;
    width: 200px;

    font-size: 1.5rem;
}
.confirm-thankyou-btn {
    align-self: center;

    margin-top: 2em;
    width: 200px;
}