#navbar {
    display: flex;
    justify-content: center;

    position: sticky;

    min-height: 50px;

    box-shadow: 2px 0 5px 0px var(--color-shadow);
}

.navbar-content {
    display: flex;
    justify-content: space-between;

    padding: 0 2em;
    width: min(100%, 1440px);

    color: var(--color-blue);
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-logo,
.nav-btn {
    color: inherit;
    text-decoration: none;
}

.nav-btns {
    display: flex;
}

.nav-btn {
    display: grid;
    place-items: center;

    padding: 1em 2em;

}

.nav-btn:hover {
    box-shadow: inset 0 0 5px 1px var(--color-shadow);

    transition: 250ms ease-in-out;
}