/*----------------------------------------
        Mobile First Styling
-----------------------------------------*/
#navbar {
    position: -webkit-sticky;
    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 1em;
    width: 100vw;
    height: 50px;

    background-color: var(--color-transwhite);

    z-index: 999;
}

#nav-logo,
.nav-btn {
    text-decoration: none;
}

#nav-logo {

    color: var(--color-blue);
    font-family: 'Courgette', cursive;
    font-weight: bold;
    font-size: 1.2rem;
}

/* HamburgerMenu -------------------------------------------------- */
#mobile-toggle {
    position: absolute;
    right: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 20px;
    width: 30px;
}

.mobile-toggle-bar {}

.mobile-toggle-bar,
.mobile-toggle-bar::before,
.mobile-toggle-bar::after {
    content: "";
    height: 3px;
    width: 30px;
    background-color: var(--color-accent);
    border-radius: 20px;

    transition: 300ms ease;

}

.mobile-toggle-bar::before {
    position: absolute;
    top: 0;
}

.mobile-toggle-bar::after {
    position: absolute;
    bottom: 0;
}

#mobile-toggle.menu-open .mobile-toggle-bar {
    width: 0;
}

#mobile-toggle.menu-open .mobile-toggle-bar::before {
    transform: rotate(-45deg) scale(1, 1);
    top: 8px;
}

#mobile-toggle.menu-open .mobile-toggle-bar::after {
    transform: rotate(45deg);
    bottom: 8px;
}

/* -------------------------------------------------- */

#nav-btns {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;

    margin-top: 50px;
    padding-top: 5em;
    width: 90%;

    color: white;

    height: calc(100vh - 50px);
    transform: translate(100%);
    transition: ease 250ms;

}

#mobile-toggle.menu-open+#nav-btns {
    transform: translate(0%);
    background-color: var(--color-transblue);
}

.nav-btn {
    font-size: 1.5rem;
    color: var(--color-white);
    text-decoration: none;
}